/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* _form.html.erb files */

#navbar a:link, #navbar a:visited, #navbar a:hover, #navbar a:active {
	text-decoration: none;
	font-size: 25px;
	color: blue;
	background-color: transparent;
}

#navbar2 a:link, #navbar2 a:visited, #navbar2 a:hover, #navbar2 a:active {
	text-decoration: none;
	font-size: 15px;
	color: blue;
	background-color: transparent;
}

#navbar2 {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

.field {
	text-align: center;
	font-family: courier;
	font-size: 20px;
	padding: 15px;
}

.field input {
	font-family: courier;
	font-size: 15px;
	text-align: center;
	width: 250px;
}

.field_new {
	text-align: center;
	font-family: courier;
	font-size: 25px;
	padding: 15px;
}

.field_new input {
	font-family: courier;
	font-size: 20px;
	padding: 10px;
	text-align: center;
	width: 250px;
}

.actions {
	text-align: center;
}

.item-background {
	background: #fefefe; 
	border: 2px solid #fcfcfc; 
	box-shadow: 0 1px 2px #888888; 
	margin: 0 2px 15px; 
	transition: opacity: .4s ease-in-out; 
	column-break-inside: avoid; 
	display: inline-block; 
	width: 100%; 
	border-radius: 5px;
}

.item-background:not(:hover) { 
	opacity: 0.7;
}

.pin-image {
	width: 100%; 
	height: auto;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
	text-align: center;
}

.item-info {
	padding: 15px; 
	padding-bottom: 10px; 
	padding-top: 0px;
	text-align: center;
	font-size: 15px;
	font-family: courier;
}

.item-links {
	text-align: center;
	font-size: 15px;
	font-family: courier;
}

#columns {
	column-width: 320px;
	column-gap: 15px;
	column-count: 4;
	column-fill: auto;
	-webkit-column-gap: 15px;
	-webkit-column-count: 4;
	-webkit-column-fill: auto;
	-webkit-column-width: 320px;
	width: 90%;
	max-width: 1100px;
	margin: 50px auto;
}

h1 {
	text-align: center;
	padding: 10px;
	font-family: Georgia;
	font-size: 60px;
}

.navbar-text .pull-right {
	text-align: center;
}

.nav {
	font-size: 15px;
}

.table {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	background-color: #669999;
	opacity: 0.7;
}

.jumbotron {
	opacity: 0.7;
	color: black;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50px;
	padding: 10px;
	background-color: transparent;
}

th {
	text-align: center;
	font-size: 20px;
}

td {
	text-align: center;
	padding: 5px;
	font-family: Courier;
	font-size: 20px;
	color: black;
} 

.sign_up {
	font-size: 25px;
}

p {
	text-align: center;
	padding: 5px;
	font-family: Courier;
	font-size: 20px;
}

.well {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}


body {
	background-image: url("nature.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	padding: 120px;
}

